{
    "editor.fontSize": 18,
    "window.zoomLevel": 4,
    "workbench.activityBar.visible": false,
    "workbench.statusBar.visible": false,
    "gitlens.currentLine.enabled": false,
    "editor.formatOnSave": true,
    "terminal.integrated.fontSize": 18,
    "terminal.integrated.fontweight": "500",
    "terminal.integrated.fontweightBold": "600"

}